/* Note that if you are an admin injecting this into your instance's static directory custom.css, only logged-in users will be able to see the changes. */
/* Upload the yuh.png and nuh.png to any accessible image hosting of your choice (your instance media, for example) and replace the dummy URLs with proper links to image*/

/* hide default Favorite SVG */
:root {
--cOrange: rgba(255, 165, 0, 0) !important;
}

/* Favorite button (before interaction) is a Yeah! button */

.FavoriteButton>button{
background-image:url('yuh.png');
background-size: 51px;

}

.FavoriteButton>button>svg{
   color:transparent;
}

.FavoriteButton>button>.fa-star>path{

	color: transparent;

}

/* adjust distance between button and like counter */

.FavoriteButton>span{
   margin-left:6px;
}

/* Favorite button (after interaction) is a Nah... button */

.button-unstyled.interactive.-favorited{
background-image:url('nuh.png');
background-size: 51px;

}

/* Change favorite icon in notification feed ("X liked your post) to a Yeah! button */

.svg-inline--fa.fa-star.type-icon{
   background-image: url('yuh.png');
  background-size: 15px;
}
